In [3]:
import pandas as pd
from datetime import datetime, timedelta
import numpy as np

In [107]:
#Disaster & HPI Cleaning
hpi_disaster_df = pd.read_csv("Xi/states_HPI_disa_weather_final2.csv")

hpi_df = hpi_disaster_df[["State", "Year", "Total_Disaster", "HPI"]].dropna()

hpi_disaster_df

ca_df = hpi_df.loc[hpi_df["State"] == "CA"].copy()
fl_df = hpi_df.loc[hpi_df["State"] == "FL"].copy()
il_df = hpi_df.loc[hpi_df["State"] == "IL"].copy()

ca_df["State"] = "California"
fl_df["State"] = "Florida"
il_df["State"] = "Illinois"

ca_hpi = ca_df[["State", "Year", "HPI"]]
fl_hpi = fl_df[["State", "Year", "HPI"]]
il_hpi = il_df[["State", "Year", "HPI"]]

il_hpi = il_hpi.loc[il_hpi["Year"] >= 1996]

In [120]:
frames = [ca_hpi, fl_hpi, il_hpi]

states_hpi = pd.concat(frames)

states_hpi

states_hpi.to_csv("Resources/StateHPIByYear.csv")

In [116]:
states_df = pd.read_csv("Resources/StateWeatherByYearPredicted.csv")

states_df

     Unnamed: 0  Average Weather (F, Predicted)       State  year
0           164                       58.026152  California  1996
1           165                       58.236920  California  1997
2           166                       58.122479  California  1998
3           167                       58.100723  California  1999
4           168                       58.165753  California  2000
..          ...                             ...         ...   ...
367         283                       56.222767    Illinois  2115
368         284                       57.025033    Illinois  2116
369         285                       56.197010    Illinois  2117
370         286                       57.027116    Illinois  2118
371         287                       56.532533    Illinois  2119

[372 rows x 4 columns]

In [117]:
states_df = states_df.rename(columns={"year":"Year"})
states_df

     Unnamed: 0  Average Weather (F, Predicted)       State  Year
0           164                       58.026152  California  1996
1           165                       58.236920  California  1997
2           166                       58.122479  California  1998
3           167                       58.100723  California  1999
4           168                       58.165753  California  2000
..          ...                             ...         ...   ...
367         283                       56.222767    Illinois  2115
368         284                       57.025033    Illinois  2116
369         285                       56.197010    Illinois  2117
370         286                       57.027116    Illinois  2118
371         287                       56.532533    Illinois  2119

[372 rows x 4 columns]

In [119]:
states_predict = states_df[["Year", "State", "Average Weather (F, Predicted)"]]
states_predict.to_csv("Resources/StateWeatherByYearPredicted2.csv")

In [111]:
#Cleaning disaster data for machineLearningDisasterData.csv

disaster = pd.read_csv("Xi/states_disasters.csv")

disaster

,Begin_Date,Begin_Month,Year,Event_Type,Deaths,Damage_Property,State,Total_Disaster
0,7/10/1996,Jul,1996,Hurricane (Typhoon),0,0,FL,1
1,7/10/1996,Jul,1996,Hurricane (Typhoon),2,0,FL,1
2,7/10/1996,Jul,1996,Hurricane (Typhoon),0,0,FL,1
3,9/2/1996,Sep,1996,Hurricane (Typhoon),0,0,FL,1
4,10/7/1996,Oct,1996,Tropical Storm,0,0,FL,1
...,...,...,...,...,...,...,...,...
4129,7/15/2020,Jul,2020,Tornado,0,0,IL,1
4130,7/15/2020,Jul,2020,Tornado,0,0,IL,1
4131,7/20/2020,Jul,2020,Tornado,0,15000,IL,1
4132,7/21/2020,Jul,2020,Tornado,0,300000,IL,1
4133,7/21/2020,Jul,2020,Tornado,0,0,IL,1

In [112]:
# Split the disaster data to rename the columns for merging later
ca_df = disaster.loc[disaster["State"] == "CA"]
fl_df = disaster.loc[disaster["State"] == "FL"]
il_df = disaster.loc[disaster["State"] == "IL"]

# rename the columns for each state
il_df["State"] = "Illinois"
ca_df["State"] = "California"
fl_df["State"] = "Florida"

il_df = il_df.loc[il_df["Year"] >= 1996]

il_df

C:\Users\cbere\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\cbere\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\cbere\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,Begin_Date,Begin_Month,Year,Event_Type,Deaths,Damage_Property,State,Total_Disaster
2563,2/26/1996,Feb,1996,Tornado,0,0,Illinois,1
2564,4/18/1996,Apr,1996,Tornado,0,1500000,Illinois,1
2565,4/19/1996,Apr,1996,Tornado,0,0,Illinois,1
2566,4/19/1996,Apr,1996,Tornado,0,0,Illinois,1
2567,4/19/1996,Apr,1996,Tornado,0,0,Illinois,1
...,...,...,...,...,...,...,...,...
4129,7/15/2020,Jul,2020,Tornado,0,0,Illinois,1
4130,7/15/2020,Jul,2020,Tornado,0,0,Illinois,1
4131,7/20/2020,Jul,2020,Tornado,0,15000,Illinois,1
4132,7/21/2020,Jul,2020,Tornado,0,300000,Illinois,1
4133,7/21/2020,Jul,2020,Tornado,0,0,Illinois,1

In [113]:
ca_df.to_csv("Resources/Disaster Data/ca_disaster.csv")
fl_df.to_csv("Resources/Disaster Data/fl_disaster.csv")
il_df.to_csv("Resources/Disaster Data/il_disaster.csv")

In [96]:
disaster_cleaned.to_csv("Resources/StateDisasterByYearCleaned.csv")

In [ ]:
weather = pd.read_csv("Resources/StateWeatherByYearPredicted2.csv")