In [1]:
import pandas as pd
florida_csv = "data/florida_final_data.csv"
florida_df = pd.read_csv(florida_csv)
florida_df.head()

,Year,InterestRate,Unemployment Rate,HomeOwnRate,Population,MediumIncome
0,2019,0.043,0.031,0.660,21477737,58368
1,2018,0.045,0.036,0.655,21244317,55634
2,2017,0.040,0.042,0.641,20963613,55365
3,2016,0.037,0.048,0.643,20613477,54521
4,2015,0.039,0.055,0.648,20209042,52687

In [2]:
florida_df['State'] = 'FL'
florida_df.head()

,Year,InterestRate,Unemployment Rate,HomeOwnRate,Population,MediumIncome,State
0,2019,0.043,0.031,0.660,21477737,58368,FL
1,2018,0.045,0.036,0.655,21244317,55634,FL
2,2017,0.040,0.042,0.641,20963613,55365,FL
3,2016,0.037,0.048,0.643,20613477,54521,FL
4,2015,0.039,0.055,0.648,20209042,52687,FL

In [3]:
california_csv = "data/califonia_final_data.csv"
california_df = pd.read_csv(california_csv)
california_df.head()

   Year  Unemployment Rate   HomeOwnRate  Population  MediumIncome
0  2019               0.040        0.548    39512223         78105
1  2018               0.043        0.551    39461588         71766
2  2017               0.048        0.544    39358497         73045
3  2016               0.055        0.538    39167117         70993
4  2015               0.062        0.543    38918045         68670

In [4]:
california_df['State'] = 'CA'
california_df.head()

   Year  Unemployment Rate   HomeOwnRate  Population  MediumIncome State
0  2019               0.040        0.548    39512223         78105    CA
1  2018               0.043        0.551    39461588         71766    CA
2  2017               0.048        0.544    39358497         73045    CA
3  2016               0.055        0.538    39167117         70993    CA
4  2015               0.062        0.543    38918045         68670    CA

In [5]:
fl_Cali =florida_df.append(california_df)

In [6]:
fl_Cali

,Year,InterestRate,Unemployment Rate,HomeOwnRate,Population,MediumIncome,State
0,2019,0.043,0.031,0.660,21477737,58368,FL
1,2018,0.045,0.036,0.655,21244317,55634,FL
2,2017,0.040,0.042,0.641,20963613,55365,FL
3,2016,0.037,0.048,0.643,20613477,54521,FL
4,2015,0.039,0.055,0.648,20209042,52687,FL
5,2014,0.042,0.063,0.649,19845911,49876,FL
6,2013,0.040,0.072,0.661,19545621,53350,FL
7,2012,0.037,0.085,0.670,19297822,51395,FL
8,2011,0.045,0.100,0.690,19053237,51383,FL
9,2010,0.047,0.111,0.693,18845537,51782,FL
10,2009,0.050,0.104,0.709,18652644,54505,FL
11,2008,0.060,0.063,0.711,18527305,53394,FL
12,2007,0.063,0.040,0.718,18367842,56604,FL
13,2006,0.064,0.032,0.724,18166990,58059,FL
14,2005,0.059,0.037,0.724,17842038,56416,FL
15,2004,0.058,0.046,0.722,17415318,54996,FL
16,2003,0.058,0.052,0.695,17004085,54304,FL
17,2002,0.065,0.056,0.687,16689370,54186,FL
18,2001,0.070,0.047,0.692,16356966,52720,FL
19,2000,0.081,0.037,0.684,16047515,57846,FL
20,1999,0.074,0.039,0.676,15111244,55153,FL
21,1998,0.069,0.043,0.669,14908230,54878,FL
22,1997,0.076,0.048,0.669,14683350,51711,FL
23,1996,0.078,0.052,0.671,14426911,49876,FL
24,1995,0.079,0.055,0.666,14185403,49707,FL
25,1994,0.084,0.064,0.657,13961798,50133,FL
26,1993,0.073,0.071,0.655,13713593,49880,FL
27,1992,0.084,0.082,0.660,13504775,48986,FL
28,1991,0.093,0.075,0.661,13289497,50026,FL
0,2019,NaN,0.040,0.548,39512223,78105,CA
1,2018,NaN,0.043,0.551,39461588,71766,CA
2,2017,NaN,0.048,0.544,39358497,73045,CA
3,2016,NaN,0.055,0.538,39167117,70993,CA
4,2015,NaN,0.062,0.543,38918045,68670,CA
5,2014,NaN,0.075,0.542,38596972,65384,CA
6,2013,NaN,0.089,0.543,38260787,66829,CA
7,2012,NaN,0.104,0.545,37948800,63609,CA
8,2011,NaN,0.117,0.553,37638369,60795,CA
9,2010,NaN,0.122,0.561,37319502,63788,CA
10,2009,NaN,0.112,0.570,36961229,67051,CA
11,2008,NaN,0.073,0.575,36604337,67865,CA
12,2007,NaN,0.054,0.583,36250311,68890,CA
13,2006,NaN,0.049,0.602,36021202,70316,CA
14,2005,NaN,0.054,0.597,35827943,67918,CA
15,2004,NaN,0.062,0.597,35574576,66782,CA
16,2003,NaN,0.068,0.589,35253159,68695,CA
17,2002,NaN,0.067,0.577,34871843,67600,CA
18,2001,NaN,0.054,0.582,34479458,68413,CA
19,2000,NaN,0.049,0.571,33987977,69696,CA
20,1999,NaN,0.052,0.557,33145121,67156,CA
21,1998,NaN,0.059,0.560,32682794,64349,CA
22,1997,NaN,0.064,0.557,32217708,63245,CA
23,1996,NaN,0.073,0.550,31780829,63176,CA
24,1995,NaN,0.079,0.554,31493525,61846,CA
25,1994,NaN,0.086,0.555,31317179,60464,CA
26,1993,NaN,0.095,0.560,31147208,59529,CA
27,1992,NaN,0.093,0.553,30875920,62517,CA
28,1991,NaN,0.077,0.545,30414114,61797,CA

In [7]:
#fl_Cali["InterestRate"].iloc[0]
nyear =2019-1991+1
for ii in range (nyear):
    fl_Cali["InterestRate"].iloc[ii+nyear]=  fl_Cali["InterestRate"].iloc[ii]

fl_Cali

C:\Users\xzhan\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,Year,InterestRate,Unemployment Rate,HomeOwnRate,Population,MediumIncome,State
0,2019,0.043,0.031,0.660,21477737,58368,FL
1,2018,0.045,0.036,0.655,21244317,55634,FL
2,2017,0.040,0.042,0.641,20963613,55365,FL
3,2016,0.037,0.048,0.643,20613477,54521,FL
4,2015,0.039,0.055,0.648,20209042,52687,FL
5,2014,0.042,0.063,0.649,19845911,49876,FL
6,2013,0.040,0.072,0.661,19545621,53350,FL
7,2012,0.037,0.085,0.670,19297822,51395,FL
8,2011,0.045,0.100,0.690,19053237,51383,FL
9,2010,0.047,0.111,0.693,18845537,51782,FL
10,2009,0.050,0.104,0.709,18652644,54505,FL
11,2008,0.060,0.063,0.711,18527305,53394,FL
12,2007,0.063,0.040,0.718,18367842,56604,FL
13,2006,0.064,0.032,0.724,18166990,58059,FL
14,2005,0.059,0.037,0.724,17842038,56416,FL
15,2004,0.058,0.046,0.722,17415318,54996,FL
16,2003,0.058,0.052,0.695,17004085,54304,FL
17,2002,0.065,0.056,0.687,16689370,54186,FL
18,2001,0.070,0.047,0.692,16356966,52720,FL
19,2000,0.081,0.037,0.684,16047515,57846,FL
20,1999,0.074,0.039,0.676,15111244,55153,FL
21,1998,0.069,0.043,0.669,14908230,54878,FL
22,1997,0.076,0.048,0.669,14683350,51711,FL
23,1996,0.078,0.052,0.671,14426911,49876,FL
24,1995,0.079,0.055,0.666,14185403,49707,FL
25,1994,0.084,0.064,0.657,13961798,50133,FL
26,1993,0.073,0.071,0.655,13713593,49880,FL
27,1992,0.084,0.082,0.660,13504775,48986,FL
28,1991,0.093,0.075,0.661,13289497,50026,FL
0,2019,0.043,0.040,0.548,39512223,78105,CA
1,2018,0.045,0.043,0.551,39461588,71766,CA
2,2017,0.040,0.048,0.544,39358497,73045,CA
3,2016,0.037,0.055,0.538,39167117,70993,CA
4,2015,0.039,0.062,0.543,38918045,68670,CA
5,2014,0.042,0.075,0.542,38596972,65384,CA
6,2013,0.040,0.089,0.543,38260787,66829,CA
7,2012,0.037,0.104,0.545,37948800,63609,CA
8,2011,0.045,0.117,0.553,37638369,60795,CA
9,2010,0.047,0.122,0.561,37319502,63788,CA
10,2009,0.050,0.112,0.570,36961229,67051,CA
11,2008,0.060,0.073,0.575,36604337,67865,CA
12,2007,0.063,0.054,0.583,36250311,68890,CA
13,2006,0.064,0.049,0.602,36021202,70316,CA
14,2005,0.059,0.054,0.597,35827943,67918,CA
15,2004,0.058,0.062,0.597,35574576,66782,CA
16,2003,0.058,0.068,0.589,35253159,68695,CA
17,2002,0.065,0.067,0.577,34871843,67600,CA
18,2001,0.070,0.054,0.582,34479458,68413,CA
19,2000,0.081,0.049,0.571,33987977,69696,CA
20,1999,0.074,0.052,0.557,33145121,67156,CA
21,1998,0.069,0.059,0.560,32682794,64349,CA
22,1997,0.076,0.064,0.557,32217708,63245,CA
23,1996,0.078,0.073,0.550,31780829,63176,CA
24,1995,0.079,0.079,0.554,31493525,61846,CA
25,1994,0.084,0.086,0.555,31317179,60464,CA
26,1993,0.073,0.095,0.560,31147208,59529,CA
27,1992,0.084,0.093,0.553,30875920,62517,CA
28,1991,0.093,0.077,0.545,30414114,61797,CA

In [8]:
HPI_csv = "data/HPI_by_county.csv"
HPI_df = pd.read_csv(HPI_csv)
HPI_df

,State,County,FIPS code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base
0,AL,Autauga,1001,1986,.,100,95.39,70.84
1,AL,Autauga,1001,1987,-2.36,97.64,93.14,69.17
2,AL,Autauga,1001,1988,3.48,101.03,96.37,71.57
3,AL,Autauga,1001,1989,4.27,105.34,100.49,74.62
4,AL,Autauga,1001,1990,-0.49,104.83,100,74.26
...,...,...,...,...,...,...,...,...
88484,WY,Weston,56045,2015,-2.45,196.98,.,190.93
88485,WY,Weston,56045,2016,1.13,199.21,.,193.09
88486,WY,Weston,56045,2017,2.2,203.59,.,197.34
88487,WY,Weston,56045,2018,3.59,210.9,.,204.43
88488,WY,Weston,56045,2019,6.67,224.97,.,218.06

In [9]:
ca = HPI_df.loc[(HPI_df["State"] == "CA")]
ca

,State,County,FIPS code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base
4580,CA,Alameda,6001,1975,.,100,19.91,13.6
4581,CA,Alameda,6001,1976,12.85,112.85,22.47,15.35
4582,CA,Alameda,6001,1977,22.43,138.16,27.51,18.79
4583,CA,Alameda,6001,1978,14.3,157.91,31.44,21.48
4584,CA,Alameda,6001,1979,16.44,183.86,36.6,25.01
...,...,...,...,...,...,...,...,...
6997,CA,Yuba,6115,2015,4.73,335.64,190.52,156.7
6998,CA,Yuba,6115,2016,10.58,371.17,210.69,173.29
6999,CA,Yuba,6115,2017,11.78,414.88,235.5,193.69
7000,CA,Yuba,6115,2018,7.62,446.49,253.44,208.45
7001,CA,Yuba,6115,2019,7.44,479.71,272.3,223.96

In [10]:
fl = HPI_df.loc[(HPI_df["State"] == "FL")]
fl

,State,County,FIPS code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base
9408,FL,Alachua,12001,1975,.,100,59.85,43.96
9409,FL,Alachua,12001,1976,-3.81,96.19,57.57,42.28
9410,FL,Alachua,12001,1977,4.14,100.17,59.95,44.03
9411,FL,Alachua,12001,1978,5.2,105.37,63.07,46.32
9412,FL,Alachua,12001,1979,14.82,120.99,72.42,53.19
...,...,...,...,...,...,...,...,...
11641,FL,Washington,12133,2015,3.51,147.42,.,137.92
11642,FL,Washington,12133,2016,6.5,157,.,146.89
11643,FL,Washington,12133,2017,-1.04,155.36,.,145.35
11644,FL,Washington,12133,2018,4.48,162.32,.,151.87
11645,FL,Washington,12133,2019,18.03,191.59,.,179.25

In [11]:
fl_Cali_HPI =fl.append(ca)
fl_Cali_HPI

,State,County,FIPS code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base
9408,FL,Alachua,12001,1975,.,100,59.85,43.96
9409,FL,Alachua,12001,1976,-3.81,96.19,57.57,42.28
9410,FL,Alachua,12001,1977,4.14,100.17,59.95,44.03
9411,FL,Alachua,12001,1978,5.2,105.37,63.07,46.32
9412,FL,Alachua,12001,1979,14.82,120.99,72.42,53.19
...,...,...,...,...,...,...,...,...
6997,CA,Yuba,6115,2015,4.73,335.64,190.52,156.7
6998,CA,Yuba,6115,2016,10.58,371.17,210.69,173.29
6999,CA,Yuba,6115,2017,11.78,414.88,235.5,193.69
7000,CA,Yuba,6115,2018,7.62,446.49,253.44,208.45
7001,CA,Yuba,6115,2019,7.44,479.71,272.3,223.96

In [12]:
HPI_Final = fl_Cali_HPI[['State', 'County', 'Year', 'HPI']]
HPI_Final

     State   County  Year     HPI
9408    FL  Alachua  1975     100
9409    FL  Alachua  1976   96.19
9410    FL  Alachua  1977  100.17
9411    FL  Alachua  1978  105.37
9412    FL  Alachua  1979  120.99
...    ...      ...   ...     ...
6997    CA     Yuba  2015  335.64
6998    CA     Yuba  2016  371.17
6999    CA     Yuba  2017  414.88
7000    CA     Yuba  2018  446.49
7001    CA     Yuba  2019  479.71

[4660 rows x 4 columns]

In [13]:
HPI_Final['HPI'] = pd.to_numeric(HPI_Final['HPI'], errors='coerce')

C:\Users\xzhan\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
HPI_Final.dtypes

State      object
County     object
Year        int64
HPI       float64
dtype: object

In [15]:
avg_HPI=HPI_Final.groupby(['State','Year'])['HPI'].mean()         
avg_HPI

State  Year
CA     1975    100.000000
       1976    112.872432
       1977    133.077500
       1978    152.021395
       1979    167.850000
                  ...
FL     2015    289.691094
       2016    313.433125
       2017    338.062187
       2018    369.055873
       2019    392.153492
Name: HPI, Length: 90, dtype: float64

In [16]:
avg_HPI_final = avg_HPI.to_frame()
avg_HPI_final

                   HPI
State Year
CA    1975  100.000000
      1976  112.872432
      1977  133.077500
      1978  152.021395
      1979  167.850000
...                ...
FL    2015  289.691094
      2016  313.433125
      2017  338.062187
      2018  369.055873
      2019  392.153492

[90 rows x 1 columns]

In [17]:
states_avg_HPI  = pd.merge(left=fl_Cali, right=avg_HPI_final, on=['State','Year'], how='inner')
states_avg_HPI

,Year,InterestRate,Unemployment Rate,HomeOwnRate,Population,MediumIncome,State,HPI
0,2019,0.043,0.031,0.660,21477737,58368,FL,392.153492
1,2018,0.045,0.036,0.655,21244317,55634,FL,369.055873
2,2017,0.040,0.042,0.641,20963613,55365,FL,338.062187
3,2016,0.037,0.048,0.643,20613477,54521,FL,313.433125
4,2015,0.039,0.055,0.648,20209042,52687,FL,289.691094
5,2014,0.042,0.063,0.649,19845911,49876,FL,268.043125
6,2013,0.040,0.072,0.661,19545621,53350,FL,248.305781
7,2012,0.037,0.085,0.670,19297822,51395,FL,236.148281
8,2011,0.045,0.100,0.690,19053237,51383,FL,242.699844
9,2010,0.047,0.111,0.693,18845537,51782,FL,259.850781
10,2009,0.050,0.104,0.709,18652644,54505,FL,289.924219
11,2008,0.060,0.063,0.711,18527305,53394,FL,344.691875
12,2007,0.063,0.040,0.718,18367842,56604,FL,397.869844
13,2006,0.064,0.032,0.724,18166990,58059,FL,412.042381
14,2005,0.059,0.037,0.724,17842038,56416,FL,362.063387
15,2004,0.058,0.046,0.722,17415318,54996,FL,289.774355
16,2003,0.058,0.052,0.695,17004085,54304,FL,252.215968
17,2002,0.065,0.056,0.687,16689370,54186,FL,239.985500
18,2001,0.070,0.047,0.692,16356966,52720,FL,225.201864
19,2000,0.081,0.037,0.684,16047515,57846,FL,213.664821
20,1999,0.074,0.039,0.676,15111244,55153,FL,201.104643
21,1998,0.069,0.043,0.669,14908230,54878,FL,193.858214
22,1997,0.076,0.048,0.669,14683350,51711,FL,191.125472
23,1996,0.078,0.052,0.671,14426911,49876,FL,186.620192
24,1995,0.079,0.055,0.666,14185403,49707,FL,188.009375
25,1994,0.084,0.064,0.657,13961798,50133,FL,188.368667
26,1993,0.073,0.071,0.655,13713593,49880,FL,184.686304
27,1992,0.084,0.082,0.660,13504775,48986,FL,185.049545
28,1991,0.093,0.075,0.661,13289497,50026,FL,189.392250
29,2019,0.043,0.040,0.548,39512223,78105,CA,921.337368
30,2018,0.045,0.043,0.551,39461588,71766,CA,877.914828
31,2017,0.040,0.048,0.544,39358497,73045,CA,818.636379
32,2016,0.037,0.055,0.538,39167117,70993,CA,773.694737
33,2015,0.039,0.062,0.543,38918045,68670,CA,704.407414
34,2014,0.042,0.075,0.542,38596972,65384,CA,662.452069
35,2013,0.040,0.089,0.543,38260787,66829,CA,579.972414
36,2012,0.037,0.104,0.545,37948800,63609,CA,523.867069
37,2011,0.045,0.117,0.553,37638369,60795,CA,527.926379
38,2010,0.047,0.122,0.561,37319502,63788,CA,566.889655
39,2009,0.050,0.112,0.570,36961229,67051,CA,604.222414
40,2008,0.060,0.073,0.575,36604337,67865,CA,711.361724
41,2007,0.063,0.054,0.583,36250311,68890,CA,857.060690
42,2006,0.064,0.049,0.602,36021202,70316,CA,896.773276
43,2005,0.059,0.054,0.597,35827943,67918,CA,824.612931
44,2004,0.058,0.062,0.597,35574576,66782,CA,666.211724
45,2003,0.058,0.068,0.589,35253159,68695,CA,564.373621
46,2002,0.065,0.067,0.577,34871843,67600,CA,525.130526
47,2001,0.070,0.054,0.582,34479458,68413,CA,486.225714
48,2000,0.081,0.049,0.571,33987977,69696,CA,439.172182
49,1999,0.074,0.052,0.557,33145121,67156,CA,376.622500
50,1998,0.069,0.059,0.560,32682794,64349,CA,355.755536
51,1997,0.076,0.064,0.557,32217708,63245,CA,338.655091
52,1996,0.078,0.073,0.550,31780829,63176,CA,330.618545
53,1995,0.079,0.079,0.554,31493525,61846,CA,329.986000
54,1994,0.084,0.086,0.555,31317179,60464,CA,332.747455
55,1993,0.073,0.095,0.560,31147208,59529,CA,338.246727
56,1992,0.084,0.093,0.553,30875920,62517,CA,350.106852
57,1991,0.093,0.077,0.545,30414114,61797,CA,350.527407

In [20]:
states_avg_HPI.to_csv('states_avgHPI.csv', index=False)

In [21]:
lat_long_csv = "data/Geocodes_USA_with_Counties.CSV"
lat_long_df = pd.read_csv(lat_long_csv)
lat_long_df.head()

,zip,primary_city,state,latitude,longitude,county,type,world_region,country,decommissioned,estimated_population,notes
0,501,Holtsville,NY,40.81,-73.04,Suffolk,UNIQUE,NaN,US,0,384,NaN
1,544,Holtsville,NY,40.81,-73.04,Suffolk,UNIQUE,NaN,US,0,0,NaN
2,601,Adjuntas,PR,18.16,-66.72,Adjuntas,STANDARD,NaN,US,0,0,NaN
3,602,Aguada,PR,18.38,-67.18,NaN,STANDARD,NaN,US,0,0,NaN
4,603,Aguadilla,PR,18.43,-67.15,Aguadilla,STANDARD,NaN,US,0,0,NaN

In [22]:
ca_la = lat_long_df.loc[(lat_long_df["state"] == "CA")]
ca_la

,zip,primary_city,state,latitude,longitude,county,type,world_region,country,decommissioned,estimated_population,notes
38045,90001,Los Angeles,CA,33.97,-118.24,Los Angeles,STANDARD,NaN,US,0,36200,NaN
38046,90002,Los Angeles,CA,33.94,-118.24,Los Angeles,STANDARD,NaN,US,0,30920,NaN
38047,90003,Los Angeles,CA,33.96,-118.27,Los Angeles,STANDARD,NaN,US,0,41878,NaN
38048,90004,Los Angeles,CA,34.07,-118.31,Los Angeles,STANDARD,NaN,US,0,41632,NaN
38049,90005,Los Angeles,CA,34.05,-118.31,Los Angeles,STANDARD,NaN,US,0,22281,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
40693,96157,South Lake Tahoe,CA,38.94,-119.97,El Dorado,PO BOX,NaN,US,0,0,NaN
40694,96158,South Lake Tahoe,CA,38.92,-119.96,El Dorado,PO BOX,NaN,US,0,3210,NaN
40695,96160,Truckee,CA,39.32,-120.18,Nevada,PO BOX,NaN,US,0,4083,NaN
40696,96161,Truckee,CA,39.33,-120.24,Nevada,STANDARD,NaN,US,0,7896,NaN
40697,96162,Truckee,CA,39.30,-120.31,Placer,PO BOX,NaN,US,0,2826,NaN

In [23]:
fl_la = lat_long_df.loc[(lat_long_df["state"] == "FL")]
fl_la

,zip,primary_city,state,latitude,longitude,county,type,world_region,country,decommissioned,estimated_population,notes
13766,32003,Fleming Island,FL,30.16,-81.70,Clay,STANDARD,NaN,US,0,23033,NaN
13767,32004,Ponte Vedra Beach,FL,30.23,-81.38,St. Johns,PO BOX,NaN,US,0,1051,NaN
13768,32006,Fleming Island,FL,30.11,-81.72,Clay,PO BOX,NaN,US,0,0,"no NWS data,"
13769,32007,Bostwick,FL,29.77,-81.63,Putnam,PO BOX,NaN,US,0,731,NaN
13770,32008,Branford,FL,29.96,-82.92,Suwannee,STANDARD,NaN,US,0,3941,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
15287,34992,Port Salerno,FL,27.14,-80.18,Martin,PO BOX,NaN,US,0,610,NaN
15288,34994,Stuart,FL,27.19,-80.24,Martin,STANDARD,NaN,US,0,10812,NaN
15289,34995,Stuart,FL,27.19,-80.24,Martin,PO BOX,NaN,US,0,1155,NaN
15290,34996,Stuart,FL,27.19,-80.24,Martin,STANDARD,NaN,US,0,8039,NaN
15291,34997,Stuart,FL,27.19,-80.24,Martin,STANDARD,NaN,US,0,31441,NaN

In [24]:
fl_Cali_la =fl_la.append(ca_la)
fl_Cali_la

,zip,primary_city,state,latitude,longitude,county,type,world_region,country,decommissioned,estimated_population,notes
13766,32003,Fleming Island,FL,30.16,-81.70,Clay,STANDARD,NaN,US,0,23033,NaN
13767,32004,Ponte Vedra Beach,FL,30.23,-81.38,St. Johns,PO BOX,NaN,US,0,1051,NaN
13768,32006,Fleming Island,FL,30.11,-81.72,Clay,PO BOX,NaN,US,0,0,"no NWS data,"
13769,32007,Bostwick,FL,29.77,-81.63,Putnam,PO BOX,NaN,US,0,731,NaN
13770,32008,Branford,FL,29.96,-82.92,Suwannee,STANDARD,NaN,US,0,3941,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
40693,96157,South Lake Tahoe,CA,38.94,-119.97,El Dorado,PO BOX,NaN,US,0,0,NaN
40694,96158,South Lake Tahoe,CA,38.92,-119.96,El Dorado,PO BOX,NaN,US,0,3210,NaN
40695,96160,Truckee,CA,39.32,-120.18,Nevada,PO BOX,NaN,US,0,4083,NaN
40696,96161,Truckee,CA,39.33,-120.24,Nevada,STANDARD,NaN,US,0,7896,NaN
40697,96162,Truckee,CA,39.30,-120.31,Placer,PO BOX,NaN,US,0,2826,NaN

In [25]:
fl_Cali_la = fl_Cali_la.rename(columns={'county': 'County'})
fl_Cali_la

,zip,primary_city,state,latitude,longitude,County,type,world_region,country,decommissioned,estimated_population,notes
13766,32003,Fleming Island,FL,30.16,-81.70,Clay,STANDARD,NaN,US,0,23033,NaN
13767,32004,Ponte Vedra Beach,FL,30.23,-81.38,St. Johns,PO BOX,NaN,US,0,1051,NaN
13768,32006,Fleming Island,FL,30.11,-81.72,Clay,PO BOX,NaN,US,0,0,"no NWS data,"
13769,32007,Bostwick,FL,29.77,-81.63,Putnam,PO BOX,NaN,US,0,731,NaN
13770,32008,Branford,FL,29.96,-82.92,Suwannee,STANDARD,NaN,US,0,3941,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
40693,96157,South Lake Tahoe,CA,38.94,-119.97,El Dorado,PO BOX,NaN,US,0,0,NaN
40694,96158,South Lake Tahoe,CA,38.92,-119.96,El Dorado,PO BOX,NaN,US,0,3210,NaN
40695,96160,Truckee,CA,39.32,-120.18,Nevada,PO BOX,NaN,US,0,4083,NaN
40696,96161,Truckee,CA,39.33,-120.24,Nevada,STANDARD,NaN,US,0,7896,NaN
40697,96162,Truckee,CA,39.30,-120.31,Placer,PO BOX,NaN,US,0,2826,NaN

In [26]:
HPI_map  = pd.merge(left=fl_Cali_la, right=fl_Cali_HPI, on=['County'], how='inner')
HPI_map

,zip,primary_city,state,latitude,longitude,County,type,world_region,country,decommissioned,estimated_population,notes,State,FIPS code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base
0,32003,Fleming Island,FL,30.16,-81.70,Clay,STANDARD,NaN,US,0,23033,NaN,FL,12019,1977,.,100,51.91,39.95
1,32003,Fleming Island,FL,30.16,-81.70,Clay,STANDARD,NaN,US,0,23033,NaN,FL,12019,1978,16.3,116.3,60.38,46.46
2,32003,Fleming Island,FL,30.16,-81.70,Clay,STANDARD,NaN,US,0,23033,NaN,FL,12019,1979,7.56,125.09,64.94,49.98
3,32003,Fleming Island,FL,30.16,-81.70,Clay,STANDARD,NaN,US,0,23033,NaN,FL,12019,1980,5.52,132,68.52,52.73
4,32003,Fleming Island,FL,30.16,-81.70,Clay,STANDARD,NaN,US,0,23033,NaN,FL,12019,1981,3.79,137.01,71.12,54.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191750,96156,South Lake Tahoe,CA,38.94,-119.97,Alpine,PO BOX,NaN,US,0,3161,NaN,CA,6003,2015,-11.92,159.28,.,.
191751,96156,South Lake Tahoe,CA,38.94,-119.97,Alpine,PO BOX,NaN,US,0,3161,NaN,CA,6003,2016,6.15,169.08,.,.
191752,96156,South Lake Tahoe,CA,38.94,-119.97,Alpine,PO BOX,NaN,US,0,3161,NaN,CA,6003,2017,9.55,185.22,.,.
191753,96156,South Lake Tahoe,CA,38.94,-119.97,Alpine,PO BOX,NaN,US,0,3161,NaN,CA,6003,2018,3.8,192.26,.,.
191754,96156,South Lake Tahoe,CA,38.94,-119.97,Alpine,PO BOX,NaN,US,0,3161,NaN,CA,6003,2019,7.59,206.84,.,.

In [27]:
HPI_Map_Final = HPI_map[['State', 'latitude', 'longitude', 'County', 'Year', 'Annual Change (%)', 'HPI']]
HPI_Map_Final

       State  latitude  longitude  County  Year Annual Change (%)     HPI
0         FL     30.16     -81.70    Clay  1977                 .     100
1         FL     30.16     -81.70    Clay  1978              16.3   116.3
2         FL     30.16     -81.70    Clay  1979              7.56  125.09
3         FL     30.16     -81.70    Clay  1980              5.52     132
4         FL     30.16     -81.70    Clay  1981              3.79  137.01
...      ...       ...        ...     ...   ...               ...     ...
191750    CA     38.94    -119.97  Alpine  2015            -11.92  159.28
191751    CA     38.94    -119.97  Alpine  2016              6.15  169.08
191752    CA     38.94    -119.97  Alpine  2017              9.55  185.22
191753    CA     38.94    -119.97  Alpine  2018               3.8  192.26
191754    CA     38.94    -119.97  Alpine  2019              7.59  206.84

[191755 rows x 7 columns]

In [28]:
HPI_Map_Final.to_csv('HPI_Map_Final.csv', index=False)